<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Attyx</string>
    <key>CFBundleDisplayName</key>
    <string>Attyx</string>
    <key>CFBundleIdentifier</key>
    <string>com.semos-labs.attyx</string>
    <key>CFBundleVersion</key>
    <string>0.2.21</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.21</string>
    <key>CFBundleExecutable</key>
    <string>attyx</string>
    <key>CFBundleIconFile</key>
    <string>Attyx</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://semos.sh/appcast-arm64.xml</string>
</dict>
</plist>
